pre {
    display: block;
    font: 12px 'courier';
    width: 585px;
		margin: 1em 0px;
    position: relative;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    white-space: pre-wrap;
    word-wrap: break-word;
}
